{% extends 'base.html.twig' %}
{% block css %}
    <link href="{{ asset('css/home.css') }}" rel="stylesheet" />
{% endblock %}

{% block header %}
    <header class="masthead-home" style="background-image: url('{{ asset('image/' ~ headerImage ~ '.jpg') }}')">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h1 class="mx-auto my-0 text-uppercase">{{title}}</h1>
                    <a class="btn btn-primary" id="button_display" href="#">Voir Tricks</a>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block container %}
    <div id="container-list">
        <div id="list-tricks">
            {% for trick in tricks %}
                <div class="trick-in-list">
                    <a style="text-decoration: none;" 
                        href="{{ path('trick_show', {'slug': trick.slug}) }}">
                    {% if trick.images is not empty %}
                        <img src="{{asset('image/trick/' ~ trick.images[0])}}">
                    {% else %}
                        <img src="{{asset('image/trick/default.jpg')}}">
                    {% endif %}
                        <h5 style="margin-top: 10px" class="text-overflow h5-resize">{{ trick.title }}</h5>
                    </a>
                     {% if user is not null and trick.user.id == user.id %}
                        <li class="link-trick-inline">
                            {{ include('trick/_edit_link.html.twig') }}
                        </li>
                        <li class="link-trick-inline">
                            {{ include('trick/_delete_form.html.twig') }}
                        </li>
                     {% endif %}
                </div>
            {% endfor %}
            <div class="clear"></div>
        </div>
        <a class="btn btn-primary" id="button_hide" href="#">Haut de Page</a>
    </div>
{% endblock %}
{% block script %}
    <script src="{{ asset('js/display_tricks.js') }}"></script>
{% endblock %}
