{{ form_start(form) }}
<h5>{{ form_label(form.contenu, "Laisser un Commentaire") }}</h5>
{{ form_widget(form.contenu, {'attr': {'class': 'form-control'}}) }}
<br>
<button class="btn btn-primary">{{ button_label|default('Créer') }}</button>
{{ form_end(form) }}
<hr>