{% extends 'base.html.twig' %}

{% block title %}Edit Trick{% endblock %}
{% block css %}
    <link href="{{ asset('css/widget_form.css') }}" rel="stylesheet" />
{% endblock %}

{% block container %}
    <a href="{{ path('trick_index') }}">back to list</a>
    <h1>Edit Trick</h1>

    {{ form_start(form) }}
       <h5>{{ form_label(form.category, 'Catégorie') }}</h5>
        {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}

        <h5>{{ form_label(form.title, 'Titre') }}</h5>
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}

        <h5>{{ form_label(form.content, 'Description') }}</h5>
        {{ form_widget(form.content, {'attr': {
            'class': 'form-control',
            'rows': '7'
            }
        }) }}

       <h5>{{ form_label(form.images, 'Images existantes') }}</h5>
        
        {% for imageForm in form.images %}
            <div class="form-control inline-block"> 

                {{ form_errors(imageForm) }}
                <h6>{{imageForm.name.vars.value}}</h6>
                <img class="image-existing inline-block" src="{{ asset('image/trick/'~imageForm.name.vars.value) }}">
                <div class="inline-block">
                    {{ form_label(imageForm.delete, "Supprimer") }}
                    {{ form_widget(imageForm.delete) }}
                </div>
            </div>  
        {% endfor %}
       <h5>{{ form_label(form.new_images, 'Nouvelles images') }}</h5>
        {{ form_widget(form.new_images, {'attr': {'class': 'form-control'}}) }}
        <hr>
        
        <h5>{{ form_label(form.videos, 'Videos existantes') }}</h5>
        {% for videoForm in form.videos %}
        
            <div class="form-control inline-block"> 
                <h6>{{videoForm.url.vars.value}}</h6>
                <div class="inline-block">
                    <iframe width="200" height="200" src="{{ videoForm.url.vars.value }}" 
                        title="YouTube video player" frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write;
                        encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                </div>  
                <div class="inline-block">
                     {{ form_label(videoForm.delete, "Supprimer") }}
                    {{ form_widget(videoForm.delete ) }}
                </div>
            </div> 
        {% endfor %}
        <h3>Nouvelles Videos</h3>
        <ul class="videos" data-prototype="{{ form_widget(form.new_videos.vars.prototype, 
            {'attr': {'class': 'video-url-widget'}})|e('html_attr') }}"></ul>
            <button type="button" class="add_item_link form-control" data-collection-holder-class="videos">Ajouter vidéo</button>
            {% for video in form.new_videos %}
                <li>{{ form_widget(video.url) }}</li>
            {% endfor %}
        </ul>
        <button class="btn btn-primary">{{ button_label|default('Sauvegarder') }}</button>
    {{ form_end(form) }}

    {{ include('trick/_delete_form.html.twig') }}
{% endblock %}

{% block script %}
    {{ parent() }}
    <script src="{{ asset('js/add_video.js') }}"></script>
{% endblock %}
