{% extends 'base.html.twig' %}

{% block title %}Edit Trick{% endblock %}
{% block css %}
    <link href="{{ asset('css/widget_form.css') }}" rel="stylesheet" />
{% endblock %}

{% block container %}
    {{ form_start(form) }}
    <div class="margin-bottom">
       <h3>{{ form_label(form.category, 'Catégorie') }}</h3>
        {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="margin-bottom">
        <h3>{{ form_label(form.title, 'Titre') }}</h3>
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="margin-bottom">
        <h3>{{ form_label(form.content, 'Description') }}</h3>
        {{ form_widget(form.content, {'attr': {
            'class': 'form-control',
            'rows': '7'
            }
        }) }}
    </div>
    <div class="margin-bottom image-part">
        <h3>{{ form_label(form.images, 'Images existantes') }}</h3>
        {% if form.images|length > 0 %}
            {% for imageForm in form.images %}
                <div class="form-control inline-block margin-bottom"> 
                    {{ form_errors(imageForm) }}
                    <h6>{{imageForm.name.vars.value}}</h6>
                    <img class="image-existing inline-block" src="{{ asset('image/trick/'~imageForm.name.vars.value) }}">
                    <div class="inline-block">
                        {{ form_widget(imageForm.name) }}
                        {{ form_label(imageForm.delete, "Supprimer") }}
                        {{ form_widget(imageForm.delete) }}
                    </div>
                </div>  
            {% endfor %}
        {% else %}
            {# form_widget(form.images) is necessary for not display the label Images #}
            {{ form_widget(form.images) }}
            <h4> Il n' y a pas d'images sauvegardées pour ce trick</h4>
        {% endif %}
    </div>
    <hr>
    <div class="margin-bottom image-part">
        <h3>{{ form_label(form.new_images, 'Nouvelles images') }}</h3>
        {# form_widget(form.new_images is necessary for not display the label New Images #}
        {{ form_widget(form.new_images, {'attr': {'class': 'form-control'}}) }}
    </div>
    <hr>
    <div class="margin-bottom video-part">
        <h3>{{ form_label(form.videos, 'Videos existantes') }}</h3>
        {% if form.videos|length > 0 %}
            {% for videoForm in form.videos %}
                <div class="form-control inline-block margin-bottom"> 
                    <h6>
                        {{ form_widget(videoForm.url, {'attr': {'class': 'video-url-existing form-control'}}) }}
                    </h6>
                    <div class="inline-block">
                        <iframe width="200" height="200" src="{{ videoForm.url.vars.value }}" 
                            title="YouTube video player" frameborder="0" 
                            allow="accelerometer; autoplay; clipboard-write;
                            encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                        </iframe>
                    </div>  
                    <div class="inline-block">
                        {{ form_label(videoForm.delete, "Supprimer") }}
                        {{ form_widget(videoForm.delete ) }}
                    </div>
                </div> 
            {% endfor %}
        {% else %}
            {# form_widget(form.videos) is necessary for not display the label Videos #}
             {{ form_widget(form.videos) }}
            <h4> Il n' y a pas de vidéos sauvegardées pour ce trick</h4>
        {% endif %}
    </div>
    <hr>
    <div class="margin-bottom video-part">
        <h3>{{ form_label(form.new_videos, 'Nouvelles videos') }}</h3>
        <ul class="videos" data-prototype="{{ form_widget(form.new_videos.vars.prototype, 
            {'attr': {'class': 'video-url-add'}})|e('html_attr') }}"></ul>
            <button type="button" class="add_item_link form-control" data-collection-holder-class="videos">Ajouter vidéo</button>
            {% for video in form.new_videos %}
                <li>{{ form_widget(video.url) }}</li>
            {% endfor %}
            {# form_widget(form.new_videos) is necessary for not display the label New Videos #}
            {{ form_widget(form.new_videos) }}
        </ul>
    </div>
    <button class="btn btn-primary">{{ button_label|default('Sauvegarder') }}</button>
    {{ form_end(form) }}
    {{ include('trick/_delete_form.html.twig') }}
{% endblock %}

{% block script %}
    {{ parent() }}
    <script src="{{ asset('js/add_video.js') }}"></script>
{% endblock %}
