{% extends 'base.html.twig' %}

{% block title %}New Trick{% endblock %}
{% block css %}
    <link href="{{ asset('css/widget_form.css') }}" rel="stylesheet" />
{% endblock %}

{% block container %}
    {% if error_message != false %}
        <div class="alert alert-danger">
            {{ error_message }}
        </div>
    {% endif %}
    <div class="form-trick">
        {{ form_start(form) }}

        <h5>{{ form_label(form.category, 'Catégorie') }}</h5>
        {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}

        <h5>{{ form_label(form.title, 'Titre') }}</h5>
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}

        <h5>{{ form_label(form.content, 'Description') }}</h5>
        {{ form_widget(form.content, {'attr': {
            'class': 'form-control',
            'rows': '7'
            }
        }) }}

        <h5>{{ form_label(form.images) }}</h5>
        {{ form_widget(form.images, {'attr': {'class': 'form-control'}}) }}
    
        <h5>Videos</h5>
        
       <ul class="videos" data-prototype="{{ form_widget(form.videos.vars.prototype, 
            {'attr': {'class': 'video-url-add'}})|e('html_attr') }}"></ul>
            <button type="button" class="add_item_link form-control" data-collection-holder-class="videos">Ajouter vidéo</button>
            {% for video in form.videos %}
                <li>{{ form_widget(video.url) }}</li>
            {% endfor %}
            {# form_widget(form.videos) is necessary for not display the label New Videos #}
            {{ form_widget(form.videos) }}
        </ul>
        <br>
        <button class="btn btn-primary">{{ button_label|default('Créer') }}</button>
        {{ form_end(form) }}

    </div>
{% endblock %}
{% block script %}
    {{ parent() }}
    <script src="{{ asset('js/add_video.js') }}"></script>
{% endblock %}
