{% extends 'base.html.twig' %}

{% block title %}Trick{% endblock %}

{% block body %}
    <a href="{{ path('trick_index') }}">back to list</a>
    <h1>Trick</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ trick.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ trick.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ trick.content }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ trick.slug }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ trick.createdAt ? trick.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ trick.updatedAt ? trick.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <hr>
    <h3>Images</h3>
    <div>
        {% for image in trick.images %}
            <div>
                <h6>{{ image.name }}</h6>
                
                <img style="width:200px; height:200px" 
                src="{{ asset('image/trick/'~image.name) }}">
            </div>           
        {% endfor %}
    </div>
    <br>
    <a href="{{ path('trick_index') }}">back to list</a>

    <a href="{{ path('trick_edit', {'id': trick.id}) }}">edit</a>

    {{ include('trick/_delete_form.html.twig') }}
{% endblock %}
