{% extends 'base.html.twig' %}

{% block header %}
    <header class="masthead" style="background-image: url('{{ asset('image/' ~ headerImage ~ '.jpg') }}')">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h1 class="mx-auto my-0 text-uppercase">{{title}}</h1>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block container %}
    <a href="{{ path('trick_index') }}">back to list</a>
    <h1>Trick</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ trick.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ trick.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ trick.content }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ trick.slug }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ trick.createdAt ? trick.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ trick.updatedAt ? trick.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <hr>
    <h3>Images</h3>
    <div>
        {% for image in trick.images %}
            <div>
                <h6>{{ image.name }}</h6>
                
                <img style="width:200px; height:200px" 
                src="{{ asset('image/trick/'~image.name) }}">
            </div>           
        {% endfor %}
    </div>
    <br>
    
    <hr>
    <h3>Videos</h3>
    <div>
        {% for video in trick.videos %}
            <div>
                <h6>{{ video.url }}</h6>
                <iframe width="731" height="411" src="{{ video.url }}" 
                    title="YouTube video player" frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write;
                    encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>           
        {% endfor %}
    </div>
    <br>

    <h3>Comment</h3> 
    <div id="comments-part">
    </div>
    <button type="button" id="load_more">Load More</button>
    <div id="error-comment">
    </div>
    <br>
    <a href="{{ path('trick_index') }}">back to list</a>

    <a href="{{ path('trick_edit', {'id': trick.id}) }}">edit</a>

    {{ include('trick/_delete_form.html.twig') }}
{% endblock %}

{% block script %}
    {{ parent() }}
<script>
    const urlInit = "https://127.0.0.1:8000/comment/{{ trick.id }}"
    var offset = {{offsetComment}};
    const limit = {{limitComment}};
    const createUrl = (urlInit, offset, limit)=>{
        return urlInit + "/" + offset + "/" + limit
    };

</script>    
<script src="{{ asset('js/load_comment.js') }}"></script>
{% endblock %}
