{% extends 'base.html.twig' %}
{% block css %}
    <link href="{{ asset('css/show_trick.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/comment.css') }}" rel="stylesheet" />
{% endblock %}
{% block header %}
    {% if trick.images is empty %}
        {% set headerImage = "home.jpg" %}
    {% else %}
        {% set headerImage = "trick/" ~ trick.images[0].name %}
    {% endif %}
    <header class="masthead" style="background-image: url('{{ asset('image/' ~ headerImage) }}')">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h1 class="mx-auto my-0 text-uppercase">{{title}}</h1>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block container %}
    <div id="tricks-media">
        {% for image in trick.images %}
            <div class="trick-media">
                <img style="width:200px; height:200px" 
                src="{{ asset('image/trick/'~image.name) }}">
            </div>           
        {% endfor %}
        {% for video in trick.videos %}
            <div class="trick-media">
                <iframe width="200" height="200" src="{{ video.url }}" 
                    title="YouTube video player" frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write;
                    encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>           
        {% endfor %}
        <div class="clear"></div>
    </div>
    <br>
    <p id="content">
        {{ trick.content }}     
    </p>     
    <hr>
    <h5 class="list-inline-item info-trick">
        Crée le
        {{ trick.createdAt ? trick.createdAt|date('d/m/Y') : '' }}
        à {{ trick.createdAt ? trick.createdAt|date('H:i') : '' }}
    </h5>
    {% if trick.updatedAt is not null %}
        <h5 class="list-inline-item info-trick">
            Dernière modification le
            {{ trick.updatedAt ? trick.updatedAt|date('d/m/Y') : '' }}
            à {{ trick.updatedAt ? trick.updatedAt|date('H:i') : '' }}
        </h5>
    {% endif %}
      
    <br>
    <h3>Comment</h3> 
    <div id="comments-part">
    </div>
    <button id="load_more" class="btn btn-primary">Load More</button>
    <div id="error-comment">
    </div>
    <br>
    <a href="{{ path('trick_index') }}">back to list</a>

    <a href="{{ path('trick_edit', {'id': trick.id}) }}">edit</a>

    {{ include('trick/_delete_form.html.twig') }}
{% endblock %}

{% block script %}
    {{ parent() }}
<script>
    const urlInit = "https://127.0.0.1:8000/comment/{{ trick.id }}"
    var offset = {{offsetComment}};
    const limit = {{limitComment}};
    const createUrl = (urlInit, offset, limit)=>{
        return urlInit + "/" + offset + "/" + limit
    };

</script>    
<script src="{{ asset('js/load_comment.js') }}"></script>
{% endblock %}
