
{{ form_start(form) }}
    <h3>{{ form_label(form.email, 'Email') }}</h3>
        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
    <button class="btn btn-secondary" style="margin-top: 10px">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
