{% extends 'base.html.twig' %}

{% block container %}
    <h1>Modifier le mot de passe</h1>
    {# {{ form_label(registrationForm.plainPassword, 'Password') }} #}
     {{ form_start(form) }}
    {# {{ form_label(form.oldPassword, 'Ancien mot de passe') }} #}
    {# {{ form_errors(form.oldPassword) }}
    {{ form_widget(form.oldPassword, {'attr': {'class': 'form-control'}}) }} #}
    {{ form_widget(form.plainPassword) }}
    <button class="btn btn-secondary" style="margin-top: 10px">{{ button_label|default('Modifier') }}</button>
     {{ form_end(form) }} 
     <br>      
{% endblock %}
