{% extends 'base.html.twig' %}

{% block container %}
    <div class="margin-bottom">
        <h1>{{title}}</h1>
        {% if error_message != '' %}
            <div class="alert alert-danger">
                {{ error_message }}
            </div>
        {% else %}
            {{ form_start(form) }}
            {{ form_widget(form.plainPassword) }}
            <button class="btn btn-secondary" style="margin-top: 10px">{{ button_label|default('Save') }}</button>
            {{ form_end(form) }}
        {% endif %}
    </div>
{% endblock %}
